@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Bree+Serif&family=Calistoga&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins&family=Quicksand:wght@300..700&family=Readex+Pro&family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: inline;

  .navbar {
    position: sticky;
    top: 0;
    background-color: rgb(255, 163, 71);
    display: flex;
    justify-content: space-around;
    padding: 0.5em;
    z-index: 101;

    .logo-img {
      & img {
        width: 130px;
        margin: auto;
        border-radius: 5px;
      }
    }

    .navigation {
      display: flex;

      & ul {
        display: flex;
        flex: 1;
        align-items: center;
        gap: 1.5rem;

        & li {
          list-style-type: none;
        }

        & a {
          text-decoration: none;
          font-family: "Poppins", sans-serif;
          color: #0e0d0d;
          text-transform: uppercase;
          position: relative;
          font-weight: 600;
        }

        & a::before {
          content: "";
          position: absolute;
          width: 0;
          height: 2px;
          background-color: currentColor;
          left: 0;
          bottom: -3px;
          display: block;
          transition: width 0.3s ease-in-out;
        }

        & a:hover::before {
          width: 100%;
        }

        & a.active {
          color: #fff;
        }

        & a.active::before {
          width: 100%;
        }
      }
    }
  }
}

.container {
  padding: 1em;

  .back {
    padding: 0.8em;
    margin: 20px 0 0 20px;
    border-radius: 10px;
    border: 2px solid #191919;
    cursor: pointer;
    background: rgba(253, 163, 73, 0.7);
    font: 500 0.8rem "Quicksand", sans-serif;
    transition: all ease-in 200ms;

    & i {
      margin-right: 5px;
    }
  }

  .back:hover {
    border: 2px solid rgba(253, 163, 73, 0.7);
    background: transparent;
  }

  .nama-kategori {
    display: flex;
    justify-content: start;
    padding: 0.5em 0.7em;
    gap: 10px;
    font: 600 calc(1.125rem + 0.3vw) "Kanit", sans-serif;
    text-transform: uppercase;
  }

  .hero-img {
    padding: 0 1em;

    & img {
      width: 100%;
      max-height: 350px;
      object-fit: cover;
      object-position: center;
      border-radius: 5px;
    }
  }

  .content-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    padding: 0 20px;

    .content {
      flex: 1 1 500px;
      padding: 0;
      overflow-x: auto;

      & section:not(:last-child) {
        margin-block-end: 3em;
      }

      & section:last-child {
        margin-block-end: 1em;
      }

      .description > .town-hall {
        padding: 1em 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5em;

        & figure {
          width: clamp(50px, calc(10% + 0.5vw), 100%);

          & img {
            max-width: 100%;
            object-fit: contain;
          }

          & figcaption {
            text-align: center;
            font: 500 calc(0.7rem + 0.25vw) "Kanit", sans-serif;
          }
        }
      }

      .heroes {
        .hero {
          margin: 3em 0;
          display: flex;
          gap: 20px;
          flex-flow: row;
  
          .img {
            flex: 1 1;
  
            & img {
              width: 100%;
              max-height: 300px;
              object-fit: contain;
            }
  
            & figcaption {
              text-align: center;
              margin: 5px;
              font: 250 calc(0.8rem + 0.25vw) "Kanit", sans-serif;
            }
          }
  
          .desc {
            margin: auto;
            flex: 1 1 10%;
            font: 300 calc(0.9rem + 0.2vw) "Kanit", sans-serif;
          }
        }

        .hero-pict {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          margin: 1em 0;

          & figure {
            flex: 1 1 calc(1vw + 100px);

            & img {
              width: 100%;
              max-height: 150px;
              aspect-ratio: 1/1;
              object-fit: contain;
            }

            & figcaption {
              padding: 0.5em;
              text-align: center;
              font: 500 calc(0.7rem + 0.25vw) "Kanit", sans-serif;
            }
          }
        }
      }

      .pets > .pet-pict {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        & figure {
          flex: 1 1 calc(1vw + 100px);

          & img {
            width: 100%;
            max-height: 150px;
            aspect-ratio: 4/3;
            object-fit: contain;
          }

          & figcaption {
            padding: 0.5em;
            text-align: center;
            font: 500 calc(0.7rem + 0.25vw) "Kanit", sans-serif;
          }
        }
      }

      .note {
        width: max-content;
        max-width: calc(100% - 1vw);
        border-left: 3px solid #495057;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

        & p {
          padding: 0.6em;
          margin-inline: 10px;
          font: 200 calc(0.8rem + 0.2vw) "Poppins", sans-serif;

          & b {
            margin-right: 5px;
          }
        }
      }

      & h3 {
        font: 600 calc(1rem + 0.5vw) "Kanit", sans-serif;
        margin: 15px 0;
      }

      & p {
        font: 300 calc(1rem + 0.2vw) "Kanit", sans-serif;
        margin-block: 1.5em;
      }

      .table-responsive {
        overflow-x: auto;

        .table-content {
          width: clamp(500px, calc(100% - 1vw), 100%);
          border-collapse: collapse;
          background-color: #fda349;
          border-spacing: 2px;
          font-family: "Montserrat", sans-serif;
          font-size: 0.9rem;

          & th,
          & td {
            border-bottom: 1px solid #495057;
            display: table-cell;
            text-align: center;
            padding: 8px;
          }

          & td {
            font-weight: 500;

            & i {
              margin-right: 5px;
            }
          }

          & tbody tr:nth-child(even):hover {
            background-color: rgb(0 0 0 / 5%);
            cursor: pointer;
          }

          & tbody tr:nth-child(odd):hover {
            background-color: rgb(245, 245, 245);
            cursor: pointer;
          }

          & tr:nth-child(odd):not(thead > tr) {
            background-color: #fff;
          }
        }
      }

      .spell-buildings > .spell:has(li) {
        list-style-type: decimal;
        font: 300 calc(0.9rem + 0.2vw) "Kanit", sans-serif;
        margin-left: -10px;
      }

      .spell-buildings > .spell-lvl:has(li) {
        list-style-type: square;
        font: 300 calc(0.9rem + 0.2vw) "Kanit", sans-serif;
        margin-left: -10px;
      }
    }

    .fun-fact {
      width: 300px;
      height: fit-content;
      border: 3px solid rgb(253, 163, 73);
      border-radius: 10px;
      box-shadow: rgba(253, 163, 73, 0.4) 5px 5px,
        rgba(253, 163, 73, 0.3) 10px 10px, rgba(253, 163, 73, 0.2) 15px 15px,
        rgba(253, 163, 73, 0.1) 20px 20px, rgba(253, 163, 73, 0.05) 25px 25px;
      margin-block: 20px;
      padding: 0.5em 1em;
      display: flex;
      gap: 1em;

      .img-villager {
        flex: 1 1 800px;
        margin: auto;

        & img {
          width: 100%;
          object-fit: cover;
        }
      }

      .fact > h3 {
        font: 600 calc(1rem + 0.2vw) "Kanit", sans-serif;
        text-align: center;
      }

      .fact > p {
        font: 300 calc(0.8rem + 0.2vw) "Kanit", sans-serif;
        text-align: justify;
      }
    }
  }
}

footer {
  background-color: #191919;
  padding: 1em 0.5em;
  color: #fff;
  text-align: center;
  font: 500 calc(1rem - 0.005vw) "Kanit", sans-serif;
  margin-block-start: 5em;
}

@media screen and (max-width: 1200px) {
  .content-wrapper > .content {
    .heroes > .hero {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-flow: column nowrap;
    align-items: center;

    .navigation > ul {
      padding: 0.5em 0.5em;
    }
  }

  .container {
    .intro {
      flex-wrap: wrap;

      & img {
        margin-block: 0;
        max-width: 450px;
      }

      .intro-description {
        & h1 {
          margin-block: 0;
        }
      }
    }

    .content-wrapper {
      flex-wrap: wrap;

      .fun-fact {
        margin: auto;
      }
    }
  }
}

@media screen and (max-width: 456px) {
  .navigation > ul {
    flex-wrap: wrap;
  }
}
